/* ------------ DEBUT page accueil---------------*/
*{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}
body{
    margin: 0;
    padding: 0;
}
/*design carroussel */
.carrousel {
    position: relative;
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.prev{
    left: 10px;
}

.next {
    right: 10px;
}

/*fin design carroussel*/

/* design du bouton */

.titre-don{
    text-align: center;
    font-style:italic;
    color: #E75462;
    padding-top:30px;
}

.button-container {
    text-align: center; /* Centre le bouton */
    margin-top: 15px; /* Espace au-dessus du bouton */
}

.custom-button {
    background-color: var(--couleur_don);
    color: white; /* Texte blanc */
    border: none; /* Supprime la bordure par défaut */
    border-radius: 30px; /* Arrondir les bords */
    padding: 15px 40px; /* Espacement interne */
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Changer le curseur au survol */
    transition: background-color 0.3s; /* Effet de transition */
}

.custom-button:hover {
    background-color: rgba(255, 90, 105, 0.87); /* Couleur au survol */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: scale(1.01);
    transition: .2s;
}

/*fin de design du bouton*/
.zoneText{
    padding: 20px;
    background-color: var(--couleur_zone_texte_rose);
    text-align:center;
    border-radius: 30px;
}

.zoneText h2{

    margin-bottom: 20px;
    color: #4F2929;
    font-style: italic;
}


.aligner{
    display:flex;
}
.AlignText{
    display: inline-block;
    width:45%;
    vertical-align:top;
    margin: 0 2.5%;

}

.AlignText h3{
    font-style: italic;
    color: #E75462;
}

.zoneText p{
    font-size: 13pt;
    text-align:left;
}

/*design stat*/

.stats{
    text-align:center;
    margin: 50px 8%;
}

.stat{
    margin-top: 50px;
}
.stats h1{
    color: #4F2929;
    font-style: italic;
}

.ruban{
    text-align:center;
    background-color: var(--couleur_zone_texte_rose);
    margin-top: 3%;
    padding: 1% 0;
    border-radius: 30px;
}

.ruban img{
    width: 10%;
    height: auto;
}

/*fin design ruban vert*/

/*------------------------------- Ecran de taille moyenne (tablette) --------------------------------------*/
@media all and (min-width: 600px) and (max-width: 800px){
    /*-------- "Pourquoi donner" --------*/
    .zoneText{
        padding: 10px;
    }

    .aligner{
        display:block;
    }

    .AlignText{
        display: block;
        width: 95%;
    }

    .AlignText p{
        text-align: justify;
    }
    /*-------- FIN "Pourquoi donner" --------*/

    /*------ Image du ruban vert -------*/
    .ruban img{
        width: 15%;
        height: auto;
    }
    /*------ FIN Image du ruban vert -------*/

    .ruban{
        padding: 2%;
    }
}



/*------------------------------- Petit écran (mobile) --------------------------------------*/
@media only screen and (max-width: 600px){
    /*-------- "Pourquoi donner" --------*/
    .zoneText{
        padding: 10px;
    }

    .aligner{
        display:block;
    }

    .AlignText{
        display: block;
        width: 95%;
    }

    .AlignText p{
        text-align: justify;
    }
    /*-------- FIN "Pourquoi donner" --------*/


    /*------ Image du ruban vert -------*/
    .ruban img{
        width: 20%;
        height: auto;
    }
    /*------ FIN Image du ruban vert -------*/
}