*{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    z-index: 20;
    margin: 0;
}


/* Main */
main {
    position: relative;
}

#carroussel{
    height: 40vh;
    position: relative;
    width: 100%;
}

#container {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: inherit;
    width: 100%;
    cursor: pointer;
}

.actusALaUne {
    flex: 0 0 100%; /* Chaque élément prend 100% de la largeur de #container */
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    /*
    display: flex;
    background-size: cover;
    height: inherit;
    width: 100%;
    margin: 0;
    flex-shrink: 0;
    */

}

#divALaUne {
    z-index: 10;
    position: absolute;
    height: 50px;
    width: 200px;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.5);
}

#texteALaUne {
    margin: 0;
    padding-top: 15px;
    text-align: center;
}


.boutonALaUne {
    background-color: lightpink;
    color: black;
    border: none;
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
}

.boutonALaUne:hover  {
    background-color: darkred;
    color: white;
}

#btnPrev {
    top: 50%;
    left: 0;
}

#btnNext {
    top: 50%;
    right: 0;
}

#navigActu {
    height: 800px ;
}

#topNavigActu{
    display: flex;
    justify-content: center;
}

#filtres {
    margin-top: 30px;
    margin-bottom: 30px;
    width : 468px;
    left: 50%;
    display: flex;
    justify-content: space-evenly;
}

.filtre{
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    border-radius: 30px;
    font-size: 15px;
    width: 6em;
    padding: .5em;
    font-weight: bold;
    opacity: .9;
    cursor: pointer;
    transition-duration: 0.4s;
}

.filtre:hover{
    background-color: #f44336;
    color: white;
}

#filtreTout{
    background-color: #f44336;
    color: white;
}
#midNavigActu{
    margin-bottom: 1%;
}
#listeArticles {
    display: flex;
    flex-direction: column;
    gap: 10px; /* espace entre les articles */
}

.actus {

    display: flex;
    margin: 0 10%;
    background-color: var(--couleur_zone_texte_rose);
    height: 6em;
    transition-duration: 0.4s;

}

.actus:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#titreActus{
    background-color: var(--couleur_zone_texte_rose);
}
#imgActus{
    width: 15%;
    height: auto;
    overflow: hidden;
}

.imageActus {
    width: 100%;
    height: 100%;
}

.titreActus {
    margin: 1em 0 0 2em;
    font-weight: bold;
}

.dateActus{
    margin: 0 0 0 2em;
}

#bottomNavigActu{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 680px) {
    .titreActus{
        font-size: 15px;
    }
}