#connexion_form {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px;
    border-radius: 10px;
}

#connexion_form div{
    margin: 15px 0;
}

#connexion_form input[type=submit] {
    min-width: 65px;
}

form h2 {
    font-size: 25px;
    text-align: center;
}

.separation {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 1.5px;
    margin: 10px 0 30px 0;
}

.champs input {
    height: 60px;
    width: 100%;
    border: solid 1.5px;
    border-radius: .5rem;
    font-size: .9em;
}

.champs {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

input:focus, textarea:focus, select:focus { /* focus en bleu */
    outline: solid 3px rgba(102, 178, 255, 0.8);
    outline-offset: 1.5px;
}

.label_text {
    position: absolute;
    margin: 5px 0 0 13px;
    font-size: .7em;
    color: grey;
    cursor: text;
}

input:hover, textarea:hover {
    background-color: #F6FAFB;
}

input[type=submit] {
    width: 30%;
    height: 40px;
    font-size: 1rem;
    padding: 5px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    background-color: rgb(70, 158, 247);
    color: white;
    transition: .3s;
}

input[type=submit]:hover {
    background-color: rgb(40, 138, 236);
}

input[type=text]:not(.input_icone, .input_mdp) {
    padding: .8em 12px 0 12px;
}

.input_icone {
    padding: .8em 12px 0 35px;
}

.input_mdp {
    padding: .8em 37px 0 35px;
}

span[id*=mdp_cache] {
    text-align: end;
    position: relative;
    bottom: 35px;
    right: 10px;
    height: 0;
}
