/*----------------page don------------------*/
*{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

#faire_don{
    background-color: var(--couleur_fond_rose);
    width: 30em;
    margin: 3em 0;
    padding: 1em 1em 2em 1em;
    border-radius: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#img_don{
    width: 2em;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#faire_don p{
    font-size: 25px;
    text-align: center;
}

.merci{
    text-align:center;
    margin-bottom: 6%;
}

.mot_rouge{
    color: #FF0000;
}

#lien1{
    color: #2085AD;
    text-decoration: none;
}

#lien1:hover{
    text-decoration: underline;
}

.titre{
    width:30%;
}

/*--------- Don par carte ---------*/
#par_carte {
    margin-top: 5%;
}

#carte_texte{
    margin: 5% 5% 3%;
    line-height: 1.5;
}

#carte_texte h3{
    font-style: italic;
    color: #4F2929;
}

#carte_texte p{
    display: inline-block;
    width:100%;
    vertical-align:top;
    margin: 0 2.5%;
}

/* Bouton de don */
#bloc_img_btn{
    display:flex;
    justify-content: center;
}

#bloc_img_btn button{
    padding: 10px 20px;
    background-color: #68BE53;
    color: white;
    border: none;
    cursor: pointer;
    width: 260px;
    word-wrap: break-word;
    border-radius: 15px;
    font-size: 18px;
}

#bloc_img_btn button:hover {
    background-color: #73d15c;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: scale(1.01);
    transition: .2s;
}

#bloc_img_btn img{
    margin-left: 3%;
    width: 150px;
}
/* FIN Bouton de don */
/*--------- FIN Don par carte ---------*/



/*--------- Don par cheque ---------*/
#par_cheque{
    display: flex;
    padding-bottom: 40px;
    background-color: var(--couleur_zone_texte_rose);
    margin-top: 80px;
    border-radius: 30px;
    justify-content: center;
}

#cheque{
    width: 310px;
    height: 210px;
    margin-top: 5%;
    margin-left: 5%;
}

#cheque_img{
    display: flex;
    align-items: center;
}

#cheque_text {
    margin: 40px 40px 20px;
    text-align: justify;
    line-height: 1.5;
}

#cheque_text h3{
    color: #4F2929;
    font-style: italic;

}
#cheque_text p{
    margin-left: 30px;
    margin-top: 30px;
}
/*--------- FIN Don par cheque ---------*/


/*--------- Don par virement ---------*/
#par_virement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 80px;
    margin-bottom: 10%;
}
#virement_text{
    text-align: justify;
    line-height: 1.5;
}

#virement_text h3{
    color: #4F2929;
    font-style: italic;

}
#virement_text p{
    margin-left: 30px;
    margin-top: 30px;
}

#virement{

    margin-left: 4.5%;
}
/*--------- FIN Don par virement ---------*/


#lien{
    color: deepskyblue;
    text-decoration: none;
}

#lien:hover{
    color: darkblue;
}

#coeur{
    width: 5%;
    height: auto;
    position: relative;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3% !important;
}


/*------------------------------- PC avec un petit écran --------------------------------------*/
@media all and (min-width: 768px) and (max-width: 992px){
    .titre{
        width: 45%;
    }
    #virement{
        width: auto;
        height: 10%;
    }

    #coeur{
        width: 8%;
        height: auto;
    }
}

/*------------------------------- Ecran de taille moyenne (tablette) --------------------------------------*/
@media all and (min-width: 600px) and (max-width: 800px){
    .titre{ /* "Comment faire un don" */
        width:50%;
        margin-top: 20%;
        margin-bottom: 10%;
    }

    /*----------- Bouton faire un don via Paypal et images des types de cb --------------*/
    #bloc_img_btn{
        width: 80%;
        height: auto;
        display:flex;
        margin: auto;
    }

    #bloc_img_btn img{
        margin-left: 3%;
        width: auto;
        height: 2%;
    }

    #bloc_img_btn button{
        padding: 0 10px;
        width: 150px;
        font-size: 17px;
    }
    /*----------- FIN Bouton faire un don via Paypal et images des types de cb --------------*/

    /*---- Don par chèque ----*/
    #par_cheque {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    #cheque_img{
        order: 2;
        text-align: center;
    }

    #cheque{
        order: 2;
        width: 75%;
        height: auto
    }
    /*---- FIN Don par chèque ----*/


    /*---- Don par virement ----*/
    #par_virement {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    #virement{
        margin-top: 2%;
        height: 50%;
        width: auto;
    }
    /*---- FIN Don par virement ----*/

    #coeur{
        width: 10%;
        height: auto;
    }
}




/*--------------------------------- Version mobile -------------------------------------------------*/
@media only screen and (max-width: 600px){
    .titre{ /* "Comment faire un don" */
        width:45%;
        margin-bottom: 10%;
    }

    /*----------- Bouton faire un don via Paypal et images des types de cb --------------*/
    #bloc_img_btn{
        width: 80%;
        height: auto;
        display:flex;
        margin: auto;
    }

    #bloc_img_btn img{
        margin-left: 3%;
        width: auto;
        height: 2%;
    }

    #bloc_img_btn button{
        padding: 0 10px;
        width: 150px;
        font-size: 17px;
    }
    /*----------- FIN Bouton faire un don via Paypal et images des types de cb --------------*/

    /*---- Don par chèque ----*/
    #par_cheque {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    #cheque_img{
        order: 2;
        text-align: center;
    }

    #cheque{
        order: 2;
        width: 75%;
        height: auto
    }
    /*---- FIN Don par chèque ----*/


    /*---- Don par virement ----*/
    #par_virement {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    #virement{
        margin-top: 2%;
        height: auto;
        width: 50%;
    }
    /*---- FIN Don par virement ----*/

    #coeur{
        width: 10%;
        height: auto;
    }
}