
/*----------------page don------------------*/
#faire_don{
    background-color: var(--couleur_fond_rose);
    width: 30em;
    margin: 3em 0;
    padding: 1em 1em 2em 1em;
    border-radius: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#img_don{
    width: 2em;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#faire_don p{
    font-size: 25px;
    text-align: center;
}

.merci{
    text-align:center;
    margin-bottom: 6%;
}

.mot_rouge{
    color: #FF0000;
}

#lien1{
    color: #2085AD;
    text-decoration: none;
}

#lien1:hover{
    text-decoration: underline;
}

.titre{
    width:25%;
    color: #E75462;
}

#par_carte {
    margin-top: 5%;
}

#carte_texte{
    margin: 5% 5% 3%;
    line-height: 1.5;
}

#carte_texte h3{
    font-style: italic;
    color: #4F2929;
}

#carte_texte p{
    display: inline-block;
    width:100%;
    vertical-align:top;
    margin: 0 2.5%;
}

#bloc_img_btn{
    display:flex;
    justify-content: center;
}

#bloc_img_btn button{
    padding: 10px 20px;
    background-color: #68BE53;
    color: white;
    border: none;
    cursor: pointer;
    width: 260px;
    word-wrap: break-word;
    border-radius: 15px;
    font-size: 18px;
}


#bloc_img_btn button:hover {
    background-color: #73d15c;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: scale(1.01);
    transition: .2s;
}


#bloc_img_btn img{
    margin-left: 3%;
    width: 150px;
}



#par_cheque{
    display: flex;
    padding-bottom: 50px;
    background-color: var(--couleur_zone_texte_rose);
    margin-top: 80px;
    border-radius: 30px;
    justify-content: center;
}

#cheque{
    width: 310px;
    height: 210px;
    margin-top: 5%;
}
#cheque_text {
    margin: 40px 40px 20px;
    text-align: justify;
    line-height: 1.5;
}

#cheque_text h3{
    color: #4F2929;
    font-style: italic;

}
#cheque_text p{
    margin-left: 30px;
    margin-top: 30px;
}

#par_virement {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 80px;
    margin-bottom: 10%;
}
#virement_text{
    text-align: justify;
    line-height: 1.5;
}

#virement_text h3{
    color: #4F2929;
    font-style: italic;

}
#virement_text p{
    margin-left: 30px;
    margin-top: 30px;
}

#virement{
    margin-right: 6%;
    margin-left: 4.5%;
}

#lien{
    color: deepskyblue;
    text-decoration: none;
}

#lien:hover{
    color: darkblue;
}

#coeur{
    width: 5%;
    height: auto;
    position: relative;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3% !important;
}


@media only screen and (max-width: 680px){

    .titre{ /* "Comment faire un don" */
        width:50%;
    }

    /*----------- Bouton faire un don via Paypal et images des types de cb --------------*/
    #bloc_img_btn{
        width: 80%;
        height: auto;
        display:flex;
        margin: auto;
    }

    #bloc_img_btn img{
        margin-left: 3%;
        width: auto;
        height: 2%;
    }

    #bloc_img_btn button{
        padding: 0 10px;
        width: 150px;
        font-size: 17px;
    }
    /*----------- FIN Bouton faire un don via Paypal et images des types de cb --------------*/

    #par_cheque{
        display: block;
    }

    #cheque{

        width: 250px;
        height: auto

    }
    #cheque_text {
        margin-top : 40px;
        margin-left: 40px;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    #cheque_text h3{
        color: #4F2929;
        font-style: italic;

    }
    #cheque_text p{
        margin-left: 30px;
        margin-top: 30px;
    }
}