/* --------------------------------------------- Page présentation -------------------------------------*/
*{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/*----------- Partie presentation -----------*/
.wrapper{
    display: flex;
    justify-content :center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
}

#logo1{
    width : 19%;
    float: left;
    margin-right: 2%;
}

.text-box h3, .election h3{
    font-size: 25px;
    font-style: oblique;
    color: var(--couleur_zone_texte_titre);
}

.text-box p{
    font-size: 16px;
    margin: 0 2%;
    text-align: justify;
    line-height: 1.6;
}
/*----------- FIN Partie presentation -----------*/


/*------ Partie liste --------*/

.liste, .bureau{
    padding: 1%;
    margin-top: 3%;
    border-radius: 30px;
    background-color: var(--couleur_zone_texte_rose);
    line-height: 45px;
}

.liste h3, .bureau h3{
    text-align: left;
    margin-left: 4%;
    font-style: oblique;
    color: var(--couleur_zone_texte_titre);
    font-size: 25px;
}

.objectifs_detail{
    text-align: justify;
    line-height: 2;
    list-style-position: outside;
    list-style-type: circle;
    margin-left: 5%;
    margin-right: 8%;
}

.objectifs{
    display: flex;
}

#img_obj {
    width: 80%;
    height: auto;
    position: relative;
    bottom: -110px;
    right: 10%;
}

/*------ FIN Partie liste --------*/


/*------------ Elections -------------*/
.election{
    margin-top: 5%;
    margin-bottom: 5%;
}

.thierry, .claire{
    display: flex;
}

.nouveau_pres h4, .ancien_pres h4{
    color: var(--couleur_zone_texte_sous_titre);
    font-style: oblique;
}

.pres{
    margin-left: 2%;
    margin-right: 2%;
}

/*Guillemets gauche et droit du texte de Thierry*/
#thierryGauche{
    position: absolute;
    transform: translateX(-150%);
    width: 2%;
}
#thierryDroit{
    position : absolute;
    transform: translateX(100%);
    width: 2%;
}

/*Guillemets gauche et droit du texte de Claire*/
#claireGauche{
    position: absolute;
    transform: translateX(-150%);
    width: 2%;
}
#claireDroit{
    position : absolute;
    transform: translateX(100%);
    width: 2%;
}

/*Photo de Claire et Thierry*/
#imageClaire{
    width: 110%;
    height: auto;
    transform: translateY(30%);
}

#thierry_img{
    width: 80%;
    height: auto;
    transform: translateY(20%);
}
/*------------ FIN Elections -------------*/


/*----------- Partie bureau -----------*/
.compo {
    display: flex;
    justify-content: center;
}

.img_bureau {
    width: 50%; /* ou une autre taille fixe */
    height: auto; /* Laissez le navigateur ajuster la hauteur */
}

.photoNom{
    text-align: center;
}

.nom{
    line-height: 1%;
}
.role{
    line-height: 1%;
    font-size: 14px;
    margin-bottom: 20%;
}
/*----------- FIN Partie bureau -----------*/
/* ------------------------------- FIN page présentation-------------------------*/



/*------------------------------- Ecran de taille moyenne (tablette) --------------------------------------*/
@media all and (min-width: 600px) and (max-width: 768px){
    header{
        margin-bottom: 10%;
    }

    .titre{
        width: 50%;
        padding: 2%;
        margin-bottom: 5%;
    }

    /*----------- Partie presentation -----------*/
    .text-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .text-box #logo1{
        order: 2;
        width: 30%;
        transform: translateX(70%);
        margin-bottom: 3%;
    }
    /*----------- FIN Partie presentation -----------*/


    /*---- Partie objectifs -----*/
    .objectifs{
        display: block;
    }

    #div_img_obj{
        text-align: right;
    }

    #img_obj{
        width: 15%;
        height: 15%;
        position: static;
        margin-right: 22%;
        margin-bottom: 2%;
    }
    /*---- FIN Partie objectifs -----*/


    /*----------- Partie election -----------*/
    .thierry, .claire{
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .thierry_img{
        order: 2;
    }

    #thierry_img{
        position: relative;
        width: 50%;
        height: auto;
        left: 65%;
        transform: translateY(-45%);
    }

    .claire_img{
        position: relative;
        width: 20%;
        height: auto;
        left: 25%;
        transform: translateY(-65%);
    }
    /*----------- FIN Partie election -----------*/
}




/*--------------------------------- Version mobile -------------------------------------------------*/
@media only screen and (max-width: 600px){
    header{
        margin-bottom: 10%;
    }

    .titre{
        width: 50%;
        padding: 2%;
        margin-bottom: 10%;
    }

    /*----------- Partie presentation -----------*/
    .text-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .text-box #logo1{
        order: 2;
        width: 35%;
        transform: translateX(70%);
        margin-bottom: 3%;
    }
    /*----------- FIN Partie presentation -----------*/


    /*---- Partie objectifs -----*/
    .objectifs{
        display: block;
    }

    #div_img_obj{
        text-align: right;
    }

    #img_obj{
        width: 20%;
        height: 20%;
        position: static;
        margin-right: 22%;
        margin-bottom: 2%;
    }
    /*---- FIN Partie objectifs -----*/


    /*----------- Partie election -----------*/
    .thierry, .claire{
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .thierry_img{
        order: 2;
    }

    #thierry_img{
        position: relative;
        width: 50%;
        height: auto;
        left: 65%;
        transform: translateY(-55%);
    }

    .claire_img{
        position: relative;
        width: 25%;
        height: auto;
        left: 25%;
        transform: translateY(-55%);
    }
    /*----------- FIN Partie election -----------*/


    /*----------- Partie bureau -----------*/
    .nom{
        font-size: 14px;
    }

    .role{
        font-size: 13px;
    }
    /*----------- FIN Partie bureau -----------*/
}