/* ------------ Page présentation ---------------*/
*{
    font-family: 'Poppins', sans-serif;
}


.wrapper{
    display: flex;
    justify-content :center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;

}

#logo1{
    max-width : 17%;
    float: left;
    margin-right: 2%;
}

.text-box h3, .election h3{
    font-size: 25px;
    font-style: oblique;
    color: var(--couleur_zone_texte_titre);
}

.text-box p{
    font-size: 16px;
    margin: 0 2%;
    text-align: justify;
    line-height: 1.6;
}


/*------ Partie liste --------*/

.liste, .bureau{
    padding: 1%;
    margin-top: 3%;

    border-radius: 30px;
    background-color: var(--couleur_zone_texte_rose);
    line-height: 45px;
}

.liste h3, .bureau h3{
    text-align: left;
    margin-left: 4%;
    font-style: oblique;
    color: var(--couleur_zone_texte_titre);
    font-size: 25px;
}

.objectifs_detail{
    text-align: justify;
    line-height: 2;
    list-style-position: outside;
    list-style-type: circle;
    margin-left: 5%;
    margin-right: 8%;
}

.objectifs{
    display: flex;
}

#img_obj {
    width: 10%;
    height: 10%;
    position: relative;
    bottom: -140px;
    right: 8%;
}

/*------ FIN Partie liste --------*/

/*------------ Elections -------------*/
.election{
    margin-top: 5%;
    margin-bottom: 5%;
}

.thierry, .claire{
    display: flex;
}

.nouveau_pres h4, .ancien_pres h4{
    color: var(--couleur_zone_texte_sous_titre);
    font-style: oblique;
}

.pres{
    margin-left: 2%;
    margin-right: 2%;
}

/*Guillemets gauche et droit du texte de Thierry*/
#thierryGauche{
    position: absolute;
    transform: translateX(-10%);
    width: 2%;
}
#thierryDroit{
    position : absolute;
    transform: translateX(3200%);
    width: 2%;
}

/*Guillemets gauche et droit du texte de Claire*/
#claireGauche{
    position: absolute;
    transform: translateX(-10%);
    width: 2%;
}
#claireDroit{
    position : absolute;
    transform: translateX(3050%);
    width: 2%;
}

/*Photo de Claire et Thierry*/
#imageClaire{
    width: 110%;
    height: auto;
    transform: translateY(30%);
}

#thierry_img{
    width: 80%;
    height: auto;
    transform: translateY(20%);
}
/*------------ FIN Elections -------------*/


.compo {
    display: flex;
    justify-content: center;
}

.img_bureau {
    width: 50%; /* ou une autre taille fixe */
    height: auto; /* Laissez le navigateur ajuster la hauteur */
}

.photoNom{
    text-align: center;
}

.nom{
    line-height: 1%;
}
.role{
    line-height: 1%;
    font-size: 14px;
    margin-bottom: 20%;
}
/* ------------ FIN page présentation---------------*/


@media only screen and (max-width: 680px){

}