/* ------------ Page présentation ---------------*/
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.wrapper{
    display: flex;
    justify-content :center;
    margin-top: inherit;
    margin-bottom: 5px;
    margin-left: 10%;
    width: 85%;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}

#logo1{
    max-width : 250px;
    float: left;
    margin-right: 25px;
}

.tesxt-box h3{
    font-size: 25px;
    font-style: oblique;
    color: #4F2929;
}

.tesxt-box p{
    font-size: 20px;
    margin: 0 20px; /* Espace sur les côtés */
    text-align: justify; /* Justifie le texte */
    line-height: 1.6;
}


/*partie liste */

.liste{
    padding: 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 30px;
    background-color: var(--couleur_zone_texte_rose);
    line-height: 45px;



}
.liste h3{
    text-align: left;
    margin-left: 100px;
    font-style: oblique;
    color: #4F2929;
    font-size: 25px;
}

.un {
    list-style-position: inside;
    list-style-type: circle;
    padding-left: 150px;
}

/* ------------ FIN page présentation---------------*/
