:root{
    /* PALETTE*/
    --couleur_top : #FF90B0;
    --couleur_nav : #FFE6E6;
    --couleur_don : #E75462;
    /* TAILLE POLICE */
    --police_taille_nav : 16px;
}

/* ------------ Barre de navigation ---------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 20%;
    background-color: var(--couleur_nav);
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-top: solid 20px;
    border-top-color: var(--couleur_top);
}

nav {
    font-size: 17px;
}

header ul {
    display: flex;
}

header li {
    padding: 10px 30px;
    margin-top: 40px;
}

header a {
    color: black;
    text-decoration: none;
}

#don {
    background-color: var(--couleur_don);
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 30px;
}

#don a{
    color: white !important;
    font-weight: bold;
}

#logoNom{
    display: flex;
    margin-left: 50px;
}

#logo{
    height: auto;
    width: 155px;
}

#nom{
    margin-left: 10px;
}
