:root{
    /* PALETTE*/
    --couleur_top : #FF90B0;
    --couleur_nav : #FFE6E6;
    --couleur_don : #ff5a69;
    --couleur_don_hover : #fb3848;
    --couleur_zone_texte_rose : #FDF2F4;
    --couleur_zone_texte_titre : #4F2929;
    --couleur_zone_texte_sous_titre : #D47373;
    --couleur_fond_rose : #FCE8E8;
    /* TAILLE POLICE */
    --police_taille_nav : 16px;
}

body > *:not(header,main, footer) { /*mettre un margin sur tous les fils du body sauf le header et le footer*/
    margin: 0 8%;
}


/* ------------ Barre de navigation ---------------*/
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--couleur_nav);
    align-items: center;
    display: block;
    border-top: solid 20px;
    border-top-color: var(--couleur_top);
    box-shadow: rgba(17, 12, 46, 0.15) 0 15px 15px 0;
    margin-bottom: 3%;
}

/*---- Animation de la nav ------*/
header ul li a {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .1s;
}

header ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 3px;
    background: var(--couleur_don);
    scale: 0 1;
    transition: .3s, translate 0s .3s;
}

header ul li a:hover:before {
    scale: 1;
    translate: 0;
    transition: .1s;
}

/*---- FIN Animation de la nav ------*/


nav {
    font-size: 17px;
    margin-top: 1.5%;
}

header ul {
    display: flex;
}

header li {
    padding: 10px 19px;
    margin-top: 8%;
}


header a {
    color: black;
    text-decoration: none;
}

.don {
    background-color: var(--couleur_don);
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 30px;
    text-align: center;
}

.don a{
    color: white !important;
    font-weight: bold;
}

.don:hover{
    background-color: rgba(255, 90, 105, 0.87); /* Couleur au survol */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: scale(1.01);
    transition: .2s;
}

#logoNom{
    display: flex;
    justify-content: center;
}

.menu{
    width: 150%;
}

#logo{
    height: fit-content;
    width: 14%;
    margin: 0.5%;
}

/* Ne pas afficher les éléments qui sont pour la version mobile */
#navMobile{
    display: none;
}
#navVersionMobile{
     position: relative;
     text-align: center;
     display: none;
}
#menuMobile{
    display: none;
}
/* ------------ FIN Barre de navigation ---------------*/


/* ------------ Titre de la page ---------------*/
.titre{
    padding: 1%;
    width: 30%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: var(--couleur_nav);
    line-height: 170%;
    text-align: center;
    color: #E75462;
}
/* -------------Ancre-------------*/
.ancre {
    position: fixed;
    bottom: 20px;
    right: 5%;
    display: none;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.ancre img {
    width: 40px;
    height: 40px;
}

.ancre:hover {
    opacity: 1;
}

/* ------------ Footer ---------------*/
footer {
    background-color: #EDEDED;
    padding: 0.6%;
    box-sizing: border-box;
    margin-top: 1%;
}

.top_footer {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Assurer que l'espace est bien réparti */
}

.liens, .contact {
    margin-top: 3%;
    width: 45%; /* Assure que les colonnes ne dépassent pas et sont équilibrées */
}

.contactAll, .liensAll {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Gérer la largeur des liens et contacts */
    box-sizing: border-box;
}

.liens1, .liens2, .contact1, .contact2 {
    flex: 1;
    margin-right: 8px; /* Espace entre les colonnes */
}

footer .image {
    margin-right: 7px; /* L'image garde son petit décalage à droite */
}

footer p {
    padding: 10px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#droits {
    margin: auto;
    text-align: center;
}


/* ------------ FIN Footer ---------------*/

/*------------------------------- PC avec un petit écran --------------------------------------*/
@media all and (min-width: 768px) and (max-width: 992px){
    header{
        margin-bottom: 7%;
    }

    header ul{
        display: flex;
        justify-content: center;
    }

    .menuVersionMobile{
        border-color: black;
    }

    nav{
        display: none;
    }

    #navMobile{
        display: flex;
        align-items: center;
        margin-right : 4%;
    }

    #navVersionMobile {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

    #navVersionMobile.active {
        display: inline;
    }

    #navVersionMobile li {
        margin: 2%;
    }

    .don {
        border-radius: 5px;
        width: 100%;
        text-align: center;
    }

    #logoNom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #menuMobile {
        display: flex;
        align-items: center;
        width: auto;
        height: 3%;
        margin-left: auto;
        margin-right: 2%;
        cursor : pointer;
    }

    #logo{
        height: auto;
        width: 18%;
        margin: 1%;
    }
    /* ----------- Footer ------------- */

    .top_footer {
        flex-direction: column;
        align-items: center;
    }

    .liens, .contact {
        width: 90%;
    }

    /* ----------- FIN Footer ------------- */
}

/*------------------------------- Ecran de taille moyenne (tablette) --------------------------------------*/
@media all and (min-width: 600px) and (max-width: 800px){
    header{
        padding-bottom: 0.5%;
    }

    header ul{
        display: block;
    }

    .menuVersionMobile{
        border-color: black;
    }
    /* ----------- Barre de navigation ------------- */
    nav{
        display: none;
    }

    #navMobile{
        display: flex;
        align-items: center;
        margin-right : 4%;
    }

    #navVersionMobile {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

    #navVersionMobile.active {
        display: block;
    }

    #navVersionMobile li {
        margin: 2%;
    }

    .don {
        border-radius: 5px;
        width: 100%;
        text-align: center;
    }

    #logoNom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #menuMobile {
        display: flex;
        align-items: center;
        width: auto;
        height: 3%;
        margin-left: auto;
        margin-right: 2%;
        cursor : pointer;
    }

    #nom{
        display: none;
    }
    #logo{
        height: auto;
        width: 25%;
        margin: 2%;
    }

    /* ----------- FIN Barre de navigation ------------- */

    /* ----------- Footer ------------- */

    .top_footer {
        flex-direction: column;
        align-items: center;
    }

    .liens, .contact {
        width: 90%;
    }

    /* ----------- FIN Footer ------------- */
}

/*--------------------------------- Version mobile -------------------------------------------------*/
@media only screen and (max-width: 680px) {

    header{
        padding-bottom: 0.5%;
    }

    header ul{
        display: block;
    }

    .menuVersionMobile{
        border-color: black;
    }
    /* ----------- Barre de navigation ------------- */
    nav{
        display: none;
    }

    #navMobile{
        display: flex;
        align-items: center;
        margin-right : 4%;
    }

    #navVersionMobile {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

    #navVersionMobile.active {
        display: block;
    }

    #navVersionMobile li {
        margin: 2%;
    }

    .don {
        border-radius: 5px;
        width: 100%;
        text-align: center;
    }

    #logoNom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #menuMobile {
        display: flex;
        align-items: center;
        width: auto;
        height: 3%;
        margin-left: auto;
        margin-right: 2%;
        cursor : pointer;
    }

    #nom{
        display: none;
    }
    #logo{
        height: auto;
        width: 25%;
        margin: 2%;
    }

    /* ----------- FIN Barre de navigation ------------- */


    /* ----------- Footer ------------- */

    .top_footer {
        flex-direction: column;
        align-items: center;
    }

    .liens, .contact {
        width: 90%;
    }

    /* ----------- FIN Footer ------------- */
}