:root{
    /* PALETTE*/
    --couleur_top : #FF90B0;
    --couleur_nav : #FFE6E6;
    --couleur_don : #E75462;
    /* TAILLE POLICE */
    --police_taille_nav : 16px;
}

/* ------------ Barre de navigation ---------------*/
header {
    position: static;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: var(--couleur_nav);
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-top: solid 20px;
    border-top-color: var(--couleur_top);
}

nav {
    font-size: 17px;
}

header ul {
    display: flex;
}

header li {
    padding: 10px 30px;
    margin-top: 40px;
}

header a {
    color: black;
    text-decoration: none;
}

#don {
    background-color: var(--couleur_don);
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 30px;
}

#don a{
    color: white !important;
    font-weight: bold;
}

#logoNom{
    display: flex;
    margin-left: 50px;
}

#logo{
    height: auto;
    width: 155px;
}

#nom{
    margin-left: 10px;
}

/* ------------ FIN Barre de navigation ---------------*/



/* ------------ Titre ---------------*/
.titre{
    padding: 10px;
    width: 260px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: var(--couleur_nav);
    line-height: 45px;
    text-align: center;
    color: darkred;

}
/* ------------ FIN Titre ---------------*/








/* ------------ Footer ---------------*/
footer{
    width: 100%;
    background-color: #EDEDED;
    padding: 0.6%;
    margin-top: 3%;
}

.top_footer{
    display: flex;
    justify-content: space-around;

    .liens, .contact{
        margin-top: 3%;
    }

    .contactAll, .liensAll{
        display: flex;
    }

}

#droits{
    margin: auto;
    text-align: center;
}

.image{
    margin-right: 7px;
}

footer p{
    padding: 10px;
}

footer a{
    color: black;
}

footer a:hover{
    color : dimgrey;
}
/* ------------ FIN Footer ---------------*/