:root{
    /* PALETTE*/
    --couleur_top : #FF90B0;
    --couleur_nav : #FFE6E6;
    --couleur_don : #E75462;
    --couleur_don_hover : #fb3848;
    --couleur_zone_texte_rose : #FFE6E6;
    --couleur_zone_texte_titre : #4F2929;
    --couleur_zone_texte_sous_titre : #D47373;
    --couleur_fond_rose : #FCE8E8;
    /* TAILLE POLICE */
    --police_taille_nav : 16px;
}

/* ------------ Barre de navigation ---------------*/
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--couleur_nav);
    align-items: center;
    display: flex;
    border-top: solid 20px;
    border-top-color: var(--couleur_top);
    box-shadow: rgba(17, 12, 46, 0.15) 0 15px 15px 0;
}

nav {
    font-size: 17px;
    transform: translateX(-10%);
}

header ul {
    display: flex;
}

header li {
    padding: 10px 25px;
    margin-top: 8%;
}

header a {
    color: black;
    text-decoration: none;
}

#don {
    background-color: var(--couleur_don);
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 30px;
}

#don a{
    color: white !important;
    font-weight: bold;
}

#don:hover{
    transition: 0.3s;
}

#logoNom{
    display: flex;
    margin-left: 3%;
    margin-right: 10%;
}

.menu{
    width: 150%;
}

#logo{
    height: auto;
    width: 23%;
}
/* ------------ FIN Barre de navigation ---------------*/


/* ------------ Footer ---------------*/
footer{
    width: 100%;
    background-color: #EDEDED;
    padding: 0.6%;
    margin-top: 3%;
    box-sizing: border-box;
}

.top_footer{
    display: flex;
    justify-content: space-around;

    .liens, .contact{
        margin-top: 3%;
    }
}

.contactAll, .liensAll{
    display: flex;
}

#droits{
    margin: auto;
    text-align: center;
}

.image{
    margin-right: 7px;
}

footer p{
    padding: 10px;
}

footer a{
    color: black;
}

footer a:hover{
    color : dimgrey;
}

/* ------------ FIN Footer ---------------*/