:root{
    /* PALETTE*/
    --couleur_top : #FF90B0;
    --couleur_nav : #FFE6E6;
    --couleur_don : #ff5a69;
    --couleur_don_hover : #fb3848;
    --couleur_zone_texte_rose : #FDF2F4;
    --couleur_zone_texte_titre : #4F2929;
    --couleur_zone_texte_sous_titre : #D47373;
    --couleur_fond_rose : #FCE8E8;
    /* TAILLE POLICE */
    --police_taille_nav : 16px;
}

body > *:not(header) { /* tous les fils du body sauf le header*/
    margin: 0 8%;
}




/* ------------ Barre de navigation ---------------*/
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--couleur_nav);
    align-items: center;
    display: flex;
    border-top: solid 20px;
    border-top-color: var(--couleur_top);
    box-shadow: rgba(17, 12, 46, 0.15) 0 15px 15px 0;
}

nav {
    font-size: 17px;
    transform: translateX(-10%);
}

header ul {
    display: flex;
}

header li {
    padding: 10px 25px;
    margin-top: 8%;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover:not(#don a){
    text-decoration: underline;
}

#don {
    background-color: var(--couleur_don);
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 30px;
}

#don a{
    color: white !important;
    font-weight: bold;
}

#don:hover{
    background-color: rgba(255, 90, 105, 0.87); /* Couleur au survol */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: scale(1.01);
    transition: .2s;
}

#logoNom{
    display: flex;
    margin-left: 3%;
    margin-right: 10%;
}

.menu{
    width: 150%;
}

#logo{
    height: auto;
    width: 23%;
}
/* ------------ FIN Barre de navigation ---------------*/

/* ------------ Titre de la page ---------------*/
.titre{
    padding: 1%;
    width: 30%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: var(--couleur_nav);
    line-height: 170%;
    text-align: center;
    color: darkred;
}
/* -------------Ancre-------------*/
.ancre {
    position: fixed;
    bottom: 20px;
    right: 5%;
    display: none;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.ancre img {
    width: 40px;
    height: 40px;
}

.ancre:hover {
    opacity: 1;
}

/* ------------ Footer ---------------*/
footer {
    background-color: #EDEDED;
    padding: 0.6%;
    box-sizing: border-box;
}

.top_footer {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Assurer que l'espace est bien réparti */
}

.top_footer .liens,
.top_footer .contact {
    margin-top: 3%;
    width: 45%; /* Assure que les colonnes ne dépassent pas et sont équilibrées */
}

.contactAll, .liensAll {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Gérer la largeur des liens et contacts */
    box-sizing: border-box;
}

.liensAll .liens1,
.liensAll .liens2,
.contactAll .conctact1,
.contactAll .contact2 {
    flex: 1;
    margin-right: 8px; /* Espace entre les colonnes */
}

footer .image {
    margin-right: 7px; /* L'image garde son petit décalage à droite */
}

footer p {
    padding: 10px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#droits {
    margin: auto;
    text-align: center;
}


/* ------------ FIN Footer ---------------*/