:root{
    /* PALETTE*/
    --couleur_top : #FF90B0;
    --couleur_nav : #FFE6E6;
    --couleur_don : #E75462;
    --couleur_zone_texte_rose : #FFE6E6;
    --couleur_zone_texte_titre : #4F2929;
    --couleur_zone_texte_sous_titre : #E75462;
    /* TAILLE POLICE */
    --police_taille_nav : 16px;
}

/* ------------ Barre de navigation ---------------*/
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--couleur_nav);
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-top: solid 20px;
    border-top-color: var(--couleur_top);
}

nav {
    font-size: 17px;
}

header ul {
    display: flex;
}

header li {
    padding: 10px 30px;
    margin-top: 8%;
}

header a {
    color: black;
    text-decoration: none;
}

#don {
    background-color: var(--couleur_don);
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 30px;
}

#don a{
    color: white !important;
    font-weight: bold;
}

#logoNom{
    display: flex;
    margin-left: 3%;
}

#logo{
    height: auto;
    width: 16%;
}

/* ------------ FIN Barre de navigation ---------------*/



/* ------------ Titre ---------------*/
.titre{
    padding: 1%;
    width: 15%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: var(--couleur_nav);
    line-height: 170%;
    text-align: center;
    color: darkred;

}
/* ------------ FIN Titre ---------------*/

/* ------------ DEBUT page accueil---------------*/
/* design du bouton */
.titre-don{
    text-align: center;
    font-style:italic;
    color: var(--couleur_don);
    padding-top : 2%;
}
.button-container {
    text-align: center; /* Centre le bouton */
    margin-top: 1%; /* Espace au-dessus du bouton */
}
.custom-button {
    background-color: var(--couleur_don);
    color: white; /* Texte blanc */
    border: none; /* Supprime la bordure par défaut */
    border-radius: 30px; /* Arrondir les bords */
    padding: 0.8% 2%; /* Espacement interne */
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Changer le curseur au survol */
    transition: background-color 0.3s; /* Effet de transition */
}
.custom-button:hover {
    background-color: #FF90B0; /* Couleur au survol */
}
/*fin de design du bouton*/
.zoneText{
    padding: 1%;
    background-color: var(--couleur_zone_texte_rose);
    text-align:center;
}
.zoneText h2{
    margin-bottom: 1%;
    color: var(--couleur_zone_texte_titre);
    font-style: italic;
}
.aligner{
    display:flex;
}
.AlignText{
    display: inline-block;
    width:45%;
    vertical-align:top;
    margin: 0 2.5%;
}
.AlignText h3{
    font-style: italic;
    color: var(--couleur_zone_texte_sous_titre);
}
.zoneText p{
    font-size: 16px;
    text-align:left;
}
/*design stat*/
.stats{
    text-align:center;
}
/*fin design stat*/
/* ------------ Fin Page Accueil ---------------*/


/* ------------ Page présentation ---------------*/
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.wrapper{
    display: flex;
    justify-content :center;
    margin-top: inherit;
    margin-bottom: 1%;
    margin-left: 10%;
    width: 85%;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}

#logo1{
    max-width : 12%;
    float: left;
    margin-right: 2%;
}

.tesxt-box h3{
    font-size: 25px;
    font-style: oblique;
    color: var(--couleur_zone_texte_titre);
}

.tesxt-box p{
    font-size: 16px;
    margin: 0 2%; /* Espace sur les côtés */
    text-align: justify; /* Justifie le texte */
    line-height: 1.6;
}


/*partie liste */

.liste{
    padding: 1%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 30px;
    background-color: var(--couleur_nav);
    line-height: 45px;

}
.liste h3{
    text-align: left;
    margin-left: 4%;
    font-style: oblique;
    color: var(--couleur_zone_texte_titre);
    font-size: 25px;
}

.un {
    list-style-position: inside;
    list-style-type: circle;
    padding-left: 8%;
}

/* ------------ FIN page présentation---------------*/


/* ------------ Footer ---------------*/
footer{
    width: 100%;
    background-color: #EDEDED;
    padding: 0.6%;
    margin-top: 3%;
}

.top_footer{
    display: flex;

    .liens{
        margin-top: 3%;
        margin-left: 10%;
    }

    .contact{
        margin-top: 3%;
        margin-left: 38%;
    }
}

#facebook, #formulaire, #qr {
    position : relative;
    bottom: 40%;
    left: 105%;
}

#livret, #mentions{
    position : relative;
    bottom: 28%;
    left: 108%;
}

#droits{
    margin: auto;
    text-align: center;
}

.image{
    margin-right: 7px;
}

footer p{
    padding: 10px;
}

footer a{
    color: black;
}

footer a:hover{
    color : dimgrey;
}